*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}
body{
    margin: 0;
    background-color: rgb(228, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 150px;
    margin-bottom:0px;
    top: 0px;
    
    
}
.logo img{
    width: 100%;
    float: left;
    
   
}
.explore{
    width: 80px;
    display: flex;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 70%;
    position: relative;
    left: 55px;
   top: 7px;
    
}
.explore img{
    width: 10px;
    height: 10px;
    margin: 0;
    
   
}
.explore p{
    margin: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: 550;
    color: #9e9e9e;
   

    
}
.plus-icon{
    color: #ffc200;
}

.logocontainer
{
    position: relative;
    right: 1%;
    bottom: -3px;
    height: 50px;
    
}
a{
    text-decoration: none;
}
.explore a{
    display: flex;
}
a:hover{
    text-decoration: underline;
    color: white;
}
.search_container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    min-width: 300px;
    width: 450px;
    background-color: rgb(236, 249, 255);
    height: 44px;
    margin: 0px 10px;
    border-radius: 4px;
    padding: 0px 10px;
    right: 4%;

   
}
.search_container input{
    width: 120%;
    padding-left: 9px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(236, 249, 255);

}
.becomeseller{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 6.5%;
}
.seller{
    position: relative;
    padding-left: 8px;
    font-size: 16px;
}
.customer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 75px;
}
.signin{
    position: relative;
    padding-left: 8px;
    font-size: 16px;
    
}
.cart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5%;
}
.cartt{
    position: relative;
    padding-left: 8px;
    font-size: 16px;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.threedot{
    position: relative;
    right: 5%;
}

.topbox{
    background-color: white;
    height: 130px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
    border-radius: 1%;
    top: 8px;
    left: 1%;
    padding-bottom: 15px;
}
.groceryname{
    font-size: 14px;
    font-weight: 550;
    color: #333;
}



.homename{
    width: 74px;
    height: 33px;
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    color: #333;
}

.beautyname{
    width: 90px;
    height: 30px;
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    color: #333;
}
.twowheelersname{
    width: 60px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    color: #333;
}

.travelname{
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 550;
}
.mobilename{
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 550;
}
.fashionname{
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 550;
}
.electronicsname{
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 550;
}
.appliancesname{
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 550;
}
.imgslidercontainer{
    top: 25px;
    position: relative;
    background-color: red;
    height: 210px;
}
.secondbox{
  
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
    position: relative;
    top: 15px;
}

/***********************namecard*****************************************/

.thirdbox{
    position: relative;
    width: 81%;
    height: 350px;
    background-color: white;
    top: 30px;
    padding-right: 10px;
    left: 11.5px;
    
}
.internationalflight{
    position: relative;
    width: 197px;
    height: 150px;
    background-color: white;
    top: 30px;
    height: 365px;
    left: 30px;
    
}
.thirdmainbox{
    display: flex;
    
}
.bestofelectronics1{
    padding-left: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    position: relative;
    top: 15px;
}
.electronicslist{
    background-color: white;
    width: 101%;
    height: 260px;
    position: relative;
    top: 55px;
}

/*****slider***********/


.slider-container {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
   
    background-color: white;
    height: 260px;
    display: flex;
    bottom: 5px;
    
  
    

}

.slider {
    display: flex;
    position: relative;
    transition: transform 0.5s;
   
}

.slider-item {
    flex: 0 0 25%; /* Display four images at a time */
    text-align: center;
    padding: 10px;
}

.img1{
   border: solid 1px rgb(200, 200, 200);
}

.content{
      font-size: 16px;
      text-align: center;
      font-weight: 500;
      color: #333;
}
.rupess{
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    color: #333;
}

.img2{
    position: relative;
    border: solid 1px rgb(200, 200, 200);
    padding-left: 0px;
    left: 15px;
 }
 .img3{
    position: relative;
    border: solid 1px rgb(200, 200, 200);
    padding-left: 10px;
    left: 29px;
 }

 .img4{
    position: relative;
    border: solid 1px rgb(200, 200, 200);
    padding-left: 10px;
    left: 42px;
 }

 .img5{
    position: relative;
    border: solid 1px rgb(200, 200, 200);
    padding-left: 10px;
    left: 55px;
 }

 .img6{
    position: relative;
    border: solid 1px rgb(200, 200, 200);
    padding-left: 10px;
    left: 65px;
 }

 .img7{
    position: relative;
    border: solid 1px rgb(200, 200, 200);
    padding-left: 10px;
    left: 75px;
 }

 .img8{
    position: relative;
    border: solid 1px rgb(200, 200, 200);
    padding-left: 10px;
    left: 85px;
 }

 .flightimg{
    position: relative;
    top: 20px;
    width: 100%;
    left: 1px;
 }

 .button-container{
    width: 94%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
    left: 3%;
   
 }
 /********fourthbox******/

 .fourthbox{
    width: 98%;
    height: 240px;
    position: relative;
    display: flex;
    background-color: white;
    top: 50px;
    left: 13.5px;
    justify-content: space-between;
 }
 .fourthinnerbox{
    width: 405px;
    height: 240px;
    background-color: #ffc200;
 }
 /**********fifthbox******/

 .fifthbox{
    width: 98%;
    background-color: white;
    height: 350px;
    position: relative;
    left: 14px;
    top: 70px;
 }
 
 .topdeals{
    padding-left: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    position: relative;
    top: 15px;
 }
 .button-container1{
    width: 94%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 215px;
    left: 3%;
    top: 30px;

 }
 .slider-container1{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
   
    background-color: white;
    height: 260px;
    display: flex;
    bottom: 5px;
    top: 42px;

 }
 .slider1{
    display: flex;
    position: relative;
    transition: transform 0.5s;

 }
 .slider-item1 {
    flex: 0 0 25%; /* Display four images at a time */
    text-align: center;
    padding: 10px;
}

/**************sixthbox****/
.sixthbox{
    width: 98%;
    height: 345px;
    background-color: white;
    position: relative;
    top: 100px;
    left: 12px;
}
.featuredbrand{
    padding-left: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    position: relative;
    top: 15px;

}
.inner3box{
    width: 100%;
    
    height: 230px;
    position: relative;
    top: 25px;
    display: flex;
    justify-content: space-evenly;

}
.inner33box{
    background-color: white;
    height: 100%;
    width: 100%;
    position: relative;
    left: 2px;
}
.learnmore{
    width: 99%;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    position: relative;
    ;
    border-radius: 2%;
    background-image: radial-gradient(rgb(255, 237, 202),rgb(249, 205, 213),rgb(236, 208, 249),rgb(200, 228, 255));

}
/****lastbox******/

.lastbox{
  
    padding-left: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    position: relative;
    top: 180px;
    
}
.para{
    padding-left: 0px;
    font-size: 13px;
    font-weight: 200;
    color: #333;
    position: relative;
    top: 20px;
    
    

}
.flipkarttheone1{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    position: relative;
    top: 40px;
}
.para2{
    padding-left: 0px;
    font-size: 13px;
    font-weight: 200;
    color: #333;
    position: relative;
    top: 55px;
    
}
.flipkarttheone2{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    position: relative;
    top: 78px;
    
}
.para3{
    padding-left: 0px;
    font-size: 13px;
    font-weight: 200;
    color: #333;
    position: relative;
    top: 90px;
    
}
.flipkarttheone3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    position: relative;
    top: 120px;

}
.para4{
    padding-left: 0px;
    font-size: 13px;
    font-weight: 200;
    color: #333;
    position: relative;
    top: 140px;

}
/********greybox******/
.greybox{
    width: 100%;
    height: 300px;
    background-color: rgb(41, 41, 41);
    position: relative;
    top: 360px;
    display: flex;
    justify-content: space-evenly;
}
.box1{
   
    color: white;
    height: 160px;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    top: 65px;
}
.about{
    position: relative;
    bottom: 15px;
    height: ;
}
.contenttt{
    
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    border-top: 1px solid #696969; /* Gray color line */
    transform: translateY(-50%);
}
.contentt{
    position: absolute;
    top: 50px;
    left: 50%;
    height: 50%;
    border-left: 1px solid #696969; /* Gray color line */
    transform: translateX(-50%);
}

.bottombox{
    width: 100%;
    height: 60px;
    background-color: rgb(41, 41, 41);
    position: relative;
    top: 320px;
    display: flex;
    justify-content: space-evenly;
   
}


.bottombox1{
    display: flex;
    position: relative;
   color: white;
    top: 10px;
    font-size: 14px;
    font-weight: 500;
    height: 50%;
}
.become{
    padding-right: 4px;
}
.bottombox2{
    display: flex;
    position: relative;
    color: white;
    top: 10px;
    font-size: 14px;
    font-weight: 500;
    height: 50%;

}
.bottombox3{
    display: flex;
    position: relative;
    color: white;
    top: 10px;
    font-size: 14px;
    font-weight: 500;
    height: 50%;

}
.bottombox4{
    display: flex;
    position: relative;
    color: white;
    top: 10px;
    font-size: 14px;
    font-weight: 500;
    height: 50%;

}
.bottombox5{
    display: flex;
    position: relative;
    color: white;
    top: 10px;
    font-size: 14px;
    font-weight: 500;
    height: 50%;


}
.bottombox6{
    display: flex;
    position: relative;
    color: white;
    top: 10px;
    font-size: 14px;
    font-weight: 500;
    height: 50%;


}



